<html lang="en" ng-app="Graffiti">
  <head>
    <meta charset="utf-8">
    <title>Graffiti</title>
  </head>

  <body ng-controller="GraffitiController as ctrl">
  <div class="grid">
    <ul class="vertical">
      <li ng-repeat="row in ctrl.graffiti.rows" class="vertical" id="v{{row.no}}">
        <ul class="horizontal">
          <li ng-repeat="column in row.columns" class="horizontal" id="h{{column.no}}">
            <div class="pixel" id="{{column.no}}{{row.no}}"></div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  </body>