// Place all the styles related to the graffiti controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  background-color: #00bfff;
}
.page_container {
  position: relative;
  margin: auto;
  height: 300px;
  width: 580px;
}
.button_container {
  display: block;
  padding: 0 10px 0 10px;
  margin: auto;
  height: 20px;
  width: 580px;
}
.btn {
  display: inline-block;
  float: left;
  padding: auto 10px auto 10px;
  height: 20px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: DodgerBlue;
  
}
.colourpallet {
  position: absolute;
  top: 15px;
  left: -225px;
}
.grid {
  display: block;
  margin: -10px auto 0 auto;
  height: 280px;
  width: 560px;
}
ul {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  left: 20px;
  width: 560px;
}
ul.horizontal {
  height: 18px;
}
li.horizontal {
  list-style-type: none;
  display: inline-block;
}
.pixel {
  height: 20px;
  width: 20px;
  border-style: solid;
  border-width: 1px;
}
.hidden {
  display: none;
}