// Place all the styles related to the graffiti controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
}
.pixel {
  height: 18px;
  width: 18px;
  border-style: solid;
  border-width: 1px;
}
ul {
  list-style-type: none;
}
ul.horizontal {
  height: 18px;
}
li.horizontal {
  list-style-type: none;
  display: inline-block;
}
