// Place all the styles related to the graffiti controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  background-color: #00bfff;
}
.page_container {
  position: relative;
  margin: auto;
  height: 300px;
  width: 580px;
}
.button_container {

}
.btn {

}
.colourpallet {
  position: absolute;
  top: 35px;
  left: 25px;
}
.grid {
  position: inline-block;
  margin: auto;
  height: 280px;
  width: 560px;
}
ul {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  left: 20px;
  width: 560px;
}
ul.horizontal {
  height: 18px;
}
li.horizontal {
  list-style-type: none;
  display: inline-block;
}
.pixel {
  height: 20px;
  width: 20px;
  border-style: solid;
  border-width: 1px;
}